{% extends 'base.html' %}

{% block title %}
    {{ escape (article.title) }}&nbsp;|&nbsp; 
{% end %}

{% block breadcrumbs %}
{{ escape ('>>') }} {{ escape(article.title) }}
{% end %}

{% block main %}
<div id='content' class='span-18 last'>
    <h1>
        <img src='/img/text50.png' />
        {% if article.title_link and len(article.title_link) %}
        <a href='{{ escape(article.title_link) }}' {{ nofollow (article.title_link) }} target='blank'>{{escape(article.title)}}</a>
        {% else %}
        {{ escape(article.title) }}
        {% end %}
    </h1>
    <hr/>
    <div id='article_content'>
        {{ article.format_content() }}
    </div>
    {% if not article.is_page %}
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
    <a class="addthis_button_preferred_1"></a>
    <a class="addthis_button_preferred_2"></a>
    <a class="addthis_button_preferred_3"></a>
    <a class="addthis_button_preferred_4"></a>
    <a class="addthis_button_compact"></a>
    <a class="addthis_counter addthis_bubble_style"></a>
    </div>
    <script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4dbed87e2634f28c"></script>
    <!-- AddThis Button END -->
    {% end %}
</div>
{% end %}
